# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Local documents / CV files
*.odt
*.docx
*.pdf
