asarPy==1.0.1
asgiref==3.11.1
Django==6.0.6
mysqlclient==2.2.8
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
setuptools==82.0.1
sqlparse==0.5.5
typing_extensions==4.15.0
wheel==0.47.0
